@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ball1:
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  display: flex;
  justify-content: center;
  background: #F0F2F7;
}

.mainBalls{
  box-shadow:  -1px 1px 0px 0px #8B91A3 ,-2px 2px 0px 0px #BDC1CA,-3px 3px 0px 0px #8B92A3 ;
}

.drop-animation-mars {
  transition: top 3s ease-in-out;
}
.drop-animation-moon {
  transition: top 5s ease-in-out;
}
.drop-animation-earth {
  transition: top 1.5s ease-in-out;
}

.custom-transition {
  transition: all 15s ease-in-out;
}